<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">   
    <title>AMFM Songs</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1 class="h1"><a href="/">AMFM</h1>
                    </div>
                    <ul class="navigation">
                        <a href="/"><li>Home</li></a>
                        <a href="/about"><li>About</li></a>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
            </div>
        </div>
    </header>
    <a id="links" href="/playlist">Go to playlist</a>
    <a id="links" class="genre" href="/genre">Back to genres</a>
    <ul>
        <div class="song"><b>Songs</b> </br>
            <% for(let i = 0; i < song.length; i++) { %>
                <ul class ="info">
                    <a href="/song/<%=song[i]._id %>"><%= song[i].songName %>, <%= song[i].songArtist %></a>
                    <form class="delete"action="/song/<%= song[i]._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" />
                    </form>
        </ul>
        <% } %>
    </div>
        <a id="links" class="new" href="/song/new">Add new song</a>
    </ul>
</body>
</html>
<style>
     * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    .h1:hover {
        color: azure;
        font-size: 36px;
        transition: 0.5s;
    }
    .header {
        width: 100%;
        height: 80px;
        display: block;
        background-color: #101010;
    }
    .inner_header {
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .logo_container {
        height: 100%;
        display: table;
        float: left;
    }
    .logo_container h1 {
        color: azure;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        font-weight: 800;
    }
    .navigation {
        float: right;
        height: 100%;
    }
    .navigation a {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }
    .navigation a li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        font-family: 16px;
    }
    .navigation a li:hover {
        color: azure;
        font-size: 20px;
        transition: 0.5s;
    }
    .navigation a:last-child {
        padding-right: 0px;
    }
    a {
        color: white;
    }
    body {
        background-color: rgb(48, 47, 44);
    }
    .song {
    font-size: 42px;
        text-align: center;
        color: white;
        border: 3px solid black;
        border-radius: 11px;
        width: 70vh;
        height: 70vh;
        position: block;
        margin: 50px 440px;
    }
    .edit {
        float: right;
    }
    .genre {
        float: right;
    }
    .info {
        text-align: left;
        margin: 20px;
        font-size: 30px;
    }
    #links:hover {
        color: azure;
        font-size: 18px;
        transition: .5s;
    }
</style>