<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>AMFM Home</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1><a href="/">AMFM</h1>
            </div>
                <ul class="navigation">
                    <a href="/"><li>Home</li></a>
                    <a href="/about"><li>About</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
        </div>
    </div>
    <div class="genre"><a href='/genre/'>Genre</div>
    <div class="playlist"><a href='/playlist/'>Playlist</div>
</body>
</html>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    .header {
        width: 100%;
        height: 80px;
        display: block;
        background-color: #101010;
    }
    .inner_header {
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .logo_container {
        height: 100%;
        display: table;
        float: left;
    }
    .logo_container h1 {
        color: azure;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        font-weight: 800;
    }
    .navigation {
        float: right;
        height: 100%;
    }
    .navigation a {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }
    .navigation a li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        font-family: 16px;
    }
    .navigation a:last-child {
        padding-right: 0px;
    }
    .genre {
        width: 50%;
        background-image: url("../public/assets/images/genre.jpg");
        background-size: 95vh;
        float: left;
        height: 900px;
        text-align: center;
        font-size: 60px;
    }
    .playlist {
        width: 50%;
        background-image: url("../public/assets/images/playlist.jpg");
        background-size: 170vh;
        float: right;
        height: 900px;
        text-align: center;
        font-size: 60px;
    }
    a {
        color: white;
    }
</style>