<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">    <title>AMFM Genres</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1 class="h1"><a href="/">AMFM</h1>
                    </div>
                    <ul class="navigation">
                        <a href="/"><li>Home</li></a>
                        <a href="/about"><li>About</li></a>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
            </div>
        </div>
    </header>
    <table>
        <% for (let i = 0; i < genre.length; i++) { %>
       <a href="/song"><tr class='genres' id="<%=genre[i].genreName%>"></a>
            <td>
                <a id="genreSelection"href="/song">
                        <b><%=genre[i].genreName%></b>
                </a>
            </td>
            <% } %>
        </tr>
    </table>
</body>
</html>
<style>
     * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    .h1:hover {
        color: azure;
        font-size: 36px;
        transition: 0.5s;
    }
    .header {
        width: 100%;
        height: 80px;
        display: block;
        background-color: #101010;
    }
    .inner_header {
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .logo_container {
        height: 100%;
        display: table;
        float: left;
    }
    .logo_container h1 {
        color: azure;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        font-weight: 800;
    }
    .navigation {
        float: right;
        height: 100%;
    }
    .navigation a {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }
    .navigation a li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        font-family: 16px;
    }
    .navigation a li:hover {
        color: azure;
        font-size: 20px;
        transition: 0.5s;
    }
    .navigation a:last-child {
        padding-right: 0px;
    }
    a {
        color: azure;
    }
    body {
        background-color: rgb(48, 47, 44);
    }
    .genres {
        display: inline;
        height: 150px;
        width: 200px;
        border: 2px solid black;
        border-radius: 7px;
        float: left;
        margin: 20px;
        padding: 57px;
        text-align: center;
        font-size: 24px;
    }
    #genreSelection:hover {
        color: azure;
        font-size: 30px;
        transition: 0.5s;
    }
    #HipHop {
        background-image: url("../public/assets/images/hiphop.jpg");
        background-size: 51vh;
    }
    #EDM {
        background-image: url("../public/assets/images/edm.jpg");
        background-size: 51vh;
    }
    #Pop {
        background-image: url("../public/assets/images/pop.jpg");
        background-size: 51vh;
    }
    #Classical {
        background-image: url("../public/assets/images/classical.jpg");
        background-size: 51vh;

    }
    #Rock {
        background-image: url("../public/assets/images/rock.jpg");
        background-size: 51vh;
    }
    #Jazz {
        background-image: url("../public/assets/images/jazz.jpg");
        background-size: 51vh;
    }
    #Blues {
        background-image: url("../public/assets/images/blues.jpg");
        background-size: 51vh;
    }
    #Folk {
        background-image: url("../public/assets/images/folk.jpg");
        background-size: 52vh;
    }
    #Country {
         background-image: url("../public/assets/images/country.jpg");
        background-size: 51vh;
    }
    #Latin {
         background-image: url("../public/assets/images/latin.jpg");
        background-size: 48vh;
    }
    #Indie {
         background-image: url("../public/assets/images/indie.jpg");
        background-size: 51vh;
    }
    #Reggae {
         background-image: url("../public/assets/images/reggae.jpg");
        background-size: 51vh;
    }
</style>