<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">    <title>AMFM Genres</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1><a href="/">AMFM</h1>
                </div>
                    <ul class="navigation">
                        <a href="/"><li>Home</li></a>
                        <a href="/about"><li>About</li></a>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
            </div>
        </div>
    </header>
    <table>
        <tr>
            <td>
                <a href="/song"><div class ="genres" id="hiphop"><b>Hip-Hop and R&B</b></div></a>
    
               <a href="/song"><div class ="genres" id="edm"><b>EDM</b></div></a>
            
               <a href="/song"><div class ="genres" id="pop"><b>Pop</b></div></a>
        
                <a href="/song"><div class ="genres" id="classical"><b>Classical</b></div></a>
            
                <a href="/song"><div class ="genres" id="rock"><b>Rock</b></div></a>
          
                <a id="jazz" href="/song"><div class ="genres" id="jazz"><b>Jazz</b></div></a>
            
                <a href="/song"><div class ="genres" id="blues"><b>Blues</b></div></a>

                <a id="folk" href="/song"><div class ="genres" id="folk"><b>Folk</b></div></a>
            
                <a id="country" href="/song"><div class ="genres" id="country"><b>Country</b></div></a>
            
                <a id="latin" href="/song"><div class ="genres" id="latin"><b>Latin</b></div></a>
            
                <a id="disco" href="/song"><div class ="genres" id="indie"><b>Indie</b></div></a>
            
                <a href="/song"><div class ="genres" id="reggae"><b>Reggae</b></div></a>
            
            </td>
        </tr>
    </table>
</body>
</html>
<style>
     * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    .header {
        width: 100%;
        height: 80px;
        display: block;
        background-color: #101010;
    }
    .inner_header {
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .logo_container {
        height: 100%;
        display: table;
        float: left;
    }
    .logo_container h1 {
        color: azure;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        font-weight: 800;
    }
    .navigation {
        float: right;
        height: 100%;
    }
    .navigation a {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }
    .navigation a li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        font-family: 16px;
    }
    .navigation a:last-child {
        padding-right: 0px;
    }
    a {
        color: azure;
    }
    body {
        background-color: rgb(48, 47, 44);
    }
    .genres {
        display: inline;
        height: 150px;
        width: 200px;
        border: 2px solid black;
        border-radius: 7px;
        float: left;
        margin: 20px;
        padding: 57px;
        text-align: center;
        font-size: 24px;  
    }
    #hiphop {
        background-image: url("../public/assets/images/hiphop.jpg");
        background-size: 51vh;
    }
    #edm {
        background-image: url("../public/assets/images/edm.jpg");
        background-size: 51vh;
    }
    #pop {
        background-image: url("../public/assets/images/pop.jpg");
        background-size: 51vh;
    }
    #classical {
        background-image: url("../public/assets/images/classical.jpg");
        background-size: 51vh;

    }
    #rock {
        background-image: url("../public/assets/images/rock.jpg");
        background-size: 51vh;
    }
    #jazz {
        background-image: url("../public/assets/images/jazz.jpg");
        background-size: 51vh;
    }
    #blues {
        background-image: url("../public/assets/images/blues.jpg");
        background-size: 51vh;
    }
    #folk {
        background-image: url("../public/assets/images/folk.jpg");
        background-size: 52vh;
    }
    #country {
         background-image: url("../public/assets/images/country.jpg");
        background-size: 51vh;
    }
    #latin {
         background-image: url("../public/assets/images/latin.jpg");
        background-size: 48vh;
    }
    #indie {
         background-image: url("../public/assets/images/indie.jpg");
        background-size: 51vh;
    }
    #reggae {
         background-image: url("../public/assets/images/reggae.jpg");
        background-size: 51vh;
    }
</style>