<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMFM About</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <h1>AMFM</h1>
        <h2>About</h2>
    </header>
    <p>Have you ever listened to music and thought "Man, I need new songs for my playlists?" Well ponder no more because we have the solution for you! Welcome to <a href="/">AMFM</a>, an app designed to help you find new music that you never knew you needed. What are you waiting for? Get your groove on!</p>
</body>
</html>
<style>
    body {
    font-family: 'Montserrat', sans-serif;
    }
</style>